{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Магазин{% endblock %}</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}

    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Джанго-ШОП</a>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li>Hello {{ request.user.first_name }}</li>
                <li></li>
                <li></li>
            </ul>
            {% endif %}
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Ваша корзина:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} штук{{ total_items|pluralize }},{{ cart.get_total_price }}гр
                    </a>
                {% else %}
                    Ваша корзина пуста.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>